# git ignore file
DotNetChat/bin/*
DotNetChat/obj/*
DotNetChatServer/bin/*
DotNetChatServer/obj/*
DotNetChatShared/bin/*
DotNetChatShared/obj/*
_ReSharper.DotNetChatServer/*
DotNetChatServer.*.ReSharper.user
DotNetChatServer.sln.docstates.suo
DotNetChatServer.suo